{% extends "base.html" %}

{% block content %}
        <table>
            <tr>
                <tr>
                    {% for arg in args %}
                        <th>{{arg}}</th>
                    {% endfor %}
                </tr>
            </tr>
            {% for audio in audios %}
            <tr>
                <tr>
                    {% for val in audio %}
                        <th>{{val}}</th>
                    {% endfor %}
                </tr>
            </tr>
            {% endfor %}
        </table>
        {% if filename%}
        <a href="../download_file/?filename={{filename}}">
            <button type="button" class="btn btn-primary">Descargar como Excel</button>
        </a>
        {% if filename == 'historical.csv' %}
        <a href="../download_file/?filename=log.txt">
            <button type="button" class="btn btn-danger">Descargar log de errores</button>
        </a>
        {% endif %}
        {% endif %}
{% endblock content %}